.homeSection{
	border-bottom: 1px solid black;
	padding: 20px 0;
	height: 30%;
	border-radius: 5px;
	margin: 20px 0 15px;
	padding: 25px;
	position: relative;
	display: flex;
	align-items: center;
	
	
	background-image: url('../images/noize/leather.jpg');

	justify-content: space-around;
}
.category_name{

}
.switcher button.on{
	background: blue;
}
.switcher button.off{
	background: red;
}
.homeSection:after{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	position: absolute;
	background-color: RGBA(255,255,255,0.25);
	box-sizing: border-box;

}

.homeSection:last-child{
	border: none;
}
.homeSection > div{
	display: flex;
	position:relative;
	height: 100%;
}
.homeSection > .add{
	flex-direction: column;
	text-align:center;
	height: 100%;
	justify-content: center;
}
.homePage{
/*	background: rgba(27,162,97,0.2) */
	display: flex;

	justify-content: center;
	flex-direction: column;
}
.add b{
	display: block;
	color: white;
	margin-bottom: 10px;
}
.category_name{
	color: white;

	background: RGBa(98,88,82,0.4);
	text-align: center;
	border-radius: 3px;
	border-bottom: 2px solid #635953;
	line-height: 30px;
	text-transform: uppercase;
}

.selects a{
	margin-left: 3%;
	border: 2px solid #433E39;
	z-index: 201;
	position:relative;
	display: flex;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 300px;
	transition: all ease .4s;
}
.selects a:hover{
	background: black;
}
