#pageVideo .video{
    width: calc(50% - 20px);
    display: inline-block;
    vertical-align: top;
    border: 4px solid #d1d1d1;
    margin: 10px 10px 40px;

}
#pageVideo .react-player{
    height: 290px !important;
}
.btnVideo{
    text-align: right;
    padding: 10px;
}
#pageVideo #videoPart{
    padding: 25px;
}